*{
    text-align: center;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}

.container .item img{
    width: auto; 
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

.container2{
    display:flex;
    justify-content: center;
    align-items: center;
}