*{
    text-align: center;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}

.container ul{
    width:500px;
    height:500px;
    border: 1px solid black;
}

.container img{
    width: auto; 
    height: auto;
    max-width: 200px;
    max-height: 200px;
}


.container2{
    display:flex;
    justify-content: center;
    align-items: center;
}